@use 'variables' as *;

.main-info {
  display: flex;
  gap: 40px;
  align-items: flex-start;

  &__avatar {
  &__avatar{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    background-color: #6b7280;
    flex-shrink: 0;
  }

  &__details {
    flex: 1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    font-size: 36px;
    font-weight: $user-profile-verify-btn-font-weight;
    font-weight: 700;
    margin: 0;
  }

  &__role {
    color: #666;
    margin: 4px 0;
    font-size: 24px;
  }

  &__rating {
    margin-top: 8px;
    color: $user-profile-color-grey;
    color: #A0A0A0;
    font-size: 24px;
  }

  &__points {
    color: $user-profile-color-grey;
    color: #A0A0A0;
    font-weight: 400;
    margin-left: 8px;
  }

  &__edit-btn {
    margin-top: 110px;
    background: none;
    border: none;
    color: $user-profile-color-grey;
    color: #A0A0A0;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font-size: 20px;
  }

  .main-info__notif-btn {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-info__notif-btn .material-symbols-outlined {
    font-size: 50px;
    color: #000;
    font-variation-settings: 'FILL' 1;
    display: block;
  }

}
