@if (totalPages > 1) {
  <div class="pagination-wrapper">
    <div class="pagination-container">
      <button class="page-btn nav-btn" [disabled]="currentPage === 1" (click)="goToPage(1)">
        &lt;&lt;
      </button>
      <button
        class="page-btn nav-btn"
        [disabled]="currentPage === 1"
        (click)="goToPage(currentPage - 1)"
      >
        &lt;
      </button>

      @for (page of getPagesArray(); track $index) {
        @if (page === '...') {
          <span class="page-dots">...</span>
        } @else {
          <button class="page-btn" [class.active]="currentPage === page" (click)="goToPage(page)">
            {{ page }}
          </button>
        }
      }

      <button
        class="page-btn nav-btn"
        [disabled]="currentPage === totalPages"
        (click)="goToPage(currentPage + 1)"
      >
        &gt;
      </button>
      <button
        class="page-btn nav-btn"
        [disabled]="currentPage === totalPages"
        (click)="goToPage(totalPages)"
      >
        &gt;&gt;
      </button>
    </div>
  </div>
}
