<section class="register">
  <div class="register__container">
    <div class="register__title-wrapper">
      <h1 class="register__title">Реєстрація</h1>
    </div>

    <div class="register__tabs">
      <button
        class="register__tab"
        [class.register__tab--active]="activeTab === 'user'"
        (click)="setTab('user')"
      >
        Користувач
      </button>
      <button
        class="register__tab"
        [class.register__tab--active]="activeTab === 'org'"
        (click)="setTab('org')"
      >
        Організація
      </button>
    </div>

    @if (error) {
      <p class="register__error">{{ error }}</p>
    }

    @if (activeTab === 'user') {
      <form class="register__form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="register__row">
          <div class="register__field">
            <div
              class="register__field-inner"
              [class.register__field-inner--error]="getError(userForm, 'firstName')"
            >
              <span class="register__label">Ім'я:</span>
              <input class="register__input" placeholder="Іван" formControlName="firstName" />
            </div>
            @if (getError(userForm, 'firstName'); as msg) {
              <span class="register__validation-error">{{ msg }}</span>
            }
          </div>
          <div class="register__field">
            <div
              class="register__field-inner"
              [class.register__field-inner--error]="getError(userForm, 'lastName')"
            >
              <span class="register__label">Прізвище:</span>
              <input class="register__input" placeholder="Іваненко" formControlName="lastName" />
            </div>
            @if (getError(userForm, 'lastName'); as msg) {
              <span class="register__validation-error">{{ msg }}</span>
            }
          </div>
        </div>

        <div class="register__field">
          <div
            class="register__field-inner"
            [class.register__field-inner--error]="getError(userForm, 'city')"
          >
            <span class="register__label">Місто:</span>
            <input
              class="register__input"
              list="user-city-options"
              placeholder="Введіть або оберіть"
              formControlName="city"
            />
            <datalist id="user-city-options">
              <option>Львів</option>
              <option>Київ</option>
              <option>Харків</option>
              <option>Одеса</option>
              <option>Дніпро</option>
              <option>Запоріжжя</option>
              <option>Вінниця</option>
              <option>Полтава</option>
              <option>Івано-Франківськ</option>
              <option>Тернопіль</option>
            </datalist>
          </div>
          @if (getError(userForm, 'city'); as msg) {
            <span class="register__validation-error">{{ msg }}</span>
          }
        </div>

        <div class="register__field">
          <div
            class="register__field-inner"
            [class.register__field-inner--error]="getError(userForm, 'email')"
          >
            <span class="register__label">Пошта:</span>
            <input
              class="register__input"
              type="email"
              placeholder="example@gmail.com"
              formControlName="email"
            />
          </div>
          @if (getError(userForm, 'email'); as msg) {
            <span class="register__validation-error">{{ msg }}</span>
          }
        </div>

        <div class="register__field">
          <div
            class="register__field-inner"
            [class.register__field-inner--error]="getError(userForm, 'password')"
          >
            <span class="register__label">Пароль:</span>
            <input
              class="register__input"
              type="password"
              placeholder="******"
              formControlName="password"
            />
          </div>
          @if (getError(userForm, 'password'); as msg) {
            <span class="register__validation-error">{{ msg }}</span>
          }
        </div>

        <button class="register__button" type="submit" [disabled]="loading">
          {{ loading ? 'Завантаження...' : 'Зареєструватися' }}
        </button>
        <div class="register__login">
          <span>Вже маєш акаунт?</span>
          <a routerLink="/login">Заходь тут!</a>
        </div>
      </form>
    }

    @if (activeTab === 'org') {
      <form class="register__form" [formGroup]="orgForm" (ngSubmit)="onSubmit()">
        <div class="register__field">
          <div
            class="register__field-inner"
            [class.register__field-inner--error]="getError(orgForm, 'name')"
          >
            <span class="register__label">Назва:</span>
            <input class="register__input" placeholder="Ввести" formControlName="name" />
          </div>
          @if (getError(orgForm, 'name'); as msg) {
            <span class="register__validation-error">{{ msg }}</span>
          }
        </div>

        <div class="register__field">
          <div
            class="register__field-inner"
            [class.register__field-inner--error]="getError(orgForm, 'edrpou')"
          >
            <span class="register__label">ЄДРПОУ:</span>
            <input
              class="register__input"
              placeholder="8 цифр"
              maxlength="8"
              formControlName="edrpou"
            />
          </div>
          @if (getError(orgForm, 'edrpou'); as msg) {
            <span class="register__validation-error">{{ msg }}</span>
          }
        </div>

        <div class="register__field">
          <div
            class="register__field-inner"
            [class.register__field-inner--error]="getError(orgForm, 'city')"
          >
            <span class="register__label">Місто:</span>
            <input
              class="register__input"
              list="org-city-options"
              placeholder="Введіть або оберіть"
              formControlName="city"
            />
            <datalist id="org-city-options">
              <option>Львів</option>
              <option>Київ</option>
              <option>Харків</option>
              <option>Одеса</option>
              <option>Дніпро</option>
              <option>Запоріжжя</option>
              <option>Вінниця</option>
              <option>Полтава</option>
              <option>Івано-Франківськ</option>
              <option>Тернопіль</option>
            </datalist>
          </div>
          @if (getError(orgForm, 'city'); as msg) {
            <span class="register__validation-error">{{ msg }}</span>
          }
        </div>

        <div class="register__field">
          <div
            class="register__field-inner"
            [class.register__field-inner--error]="getError(orgForm, 'address')"
          >
            <span class="register__label">Адреса:</span>
            <input
              class="register__input"
              placeholder="вул. Шевченка, 1"
              formControlName="address"
            />
          </div>
          @if (getError(orgForm, 'address'); as msg) {
            <span class="register__validation-error">{{ msg }}</span>
          }
        </div>

        <div class="register__field">
          <div
            class="register__field-inner"
            [class.register__field-inner--error]="getError(orgForm, 'email')"
          >
            <span class="register__label">Пошта:</span>
            <input
              class="register__input"
              type="email"
              placeholder="example@gmail.com"
              formControlName="email"
            />
          </div>
          @if (getError(orgForm, 'email'); as msg) {
            <span class="register__validation-error">{{ msg }}</span>
          }
        </div>

        <div class="register__field">
          <div
            class="register__field-inner"
            [class.register__field-inner--error]="getError(orgForm, 'password')"
          >
            <span class="register__label">Пароль:</span>
            <input
              class="register__input"
              type="password"
              placeholder="******"
              formControlName="password"
            />
          </div>
          @if (getError(orgForm, 'password'); as msg) {
            <span class="register__validation-error">{{ msg }}</span>
          }
        </div>

        <button class="register__button" type="submit" [disabled]="loading">
          {{ loading ? 'Завантаження...' : 'Зареєструватися' }}
        </button>
        <div class="register__login">
          <span>Вже маєш акаунт?</span>
          <a routerLink="/login">Заходь тут!</a>
        </div>
      </form>
    }
  </div>
</section>
