<main class="user__profile__page">
  @if (user !== null) {
    <div class="user__profile__page__wrapper">
      <div class="user__profile__page__content">
        <section>
          <app-main-info [user]="user"></app-main-info>
        </section>

        <section>
          <app-activity [user]="user"></app-activity>
        </section>

        @if (isVolunteer) {
          <section>
            <app-fundraising-campaigns-user [user]="user"></app-fundraising-campaigns-user>
          </section>
        }

        <section>
          <app-requests [user]="user"></app-requests>
        </section>
      </div>

      <aside class="user__profile__page__sidebar">
        <section>
          <app-user-data [user]="user"></app-user-data>
        </section>

        @if (isOwnProfile) {
          <section>
            <app-message [user]="user"></app-message>
          </section>
        }

        <section>
          <app-achievement [user]="user"></app-achievement>
        </section>

        @if (isOwnProfile) {
          <div class="user__profile__page__actions">
            @if (user.role !== 'VOLUNTEER') {
              <a class="verify-button" routerLink="/vol-verification">Верифікуватись</a>
            }
          </div>
          <div>
            <button class="logout__button" (click)="logout()">Вийти з акаунту</button>
          </div>
        }
      </aside>
    </div>
  } @else {
    <div class="loader">Завантаження профілю...</div>
  }
</main>
