@use 'variables' as *;

.about {
  font-family: $font-main;
  color: $text-color;
  background: $bg-color;
  padding: 1px 100px;

  &__container {
    margin: 0 auto;
  }

  &__title {
    font-weight: $title-weight;
    font-size: 60px;
    margin-bottom: 40px;
  }

  &__top {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 40px;
  }

  &__image {
    img {
      width: 180%;
      display: block;
    }
  }

  &__text {
    font-weight: $normal-weight;
    line-height: $line-height;
    font-size: 30px;

    p {
      margin-bottom: 16px;
    }

    strong {
      font-weight: $title-weight;
    }
  }

  &__mission {
    font-weight: $normal-weight;
    line-height: $line-height;
    margin-bottom: 40px;

    p {
      margin-bottom: 14px;
    }
  }

  &__highlight {
    font-weight: $title-weight;
  }

  &__team {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 40px;
    align-items: center;
  }

  &__team-text {
    h3 {
      font-weight: $title-weight;
      font-size: 22px;
      margin-bottom: 10px;
    }

    p {
      font-weight: $normal-weight;
      line-height: $line-height;
      margin-bottom: 10px;
    }

    a {
      color: $text-color;
      text-decoration: underline;
    }
  }

  &__logo {
    img {
      width: 100%;
      display: block;
    }
  }
}
