<aside class="filters">
  <section class="filters__section">
    <div class="filters__search">
      <input type="text" placeholder="пошук збору" class="filters__input__search">
    </div>
    <div class="filters__group">
      <h3 class="filters__title">Категорії</h3>
      @for (category of categoriesListFun; track category) {
        <label class="filters__checkbox">
          <input type="checkbox" />
          <span>{{ category }}</span>
        </label>
      }
    </div>
  </section>

  <hr class="filters__divider">

  <section class="filters__section">
    <h3 class="filters__title">Статус</h3>
    @for (category of categoriesStatusFun; track category) {
      <label class="filters__checkbox">
        <input type="checkbox" />
        <span>{{ category }}</span>
      </label>
    }
  </section>
</aside>
