// Основні кольори
$color-black: #000;
$color-white: #fff;
$color-white-soft: rgba(255, 255, 255, 0.85);

// Footer
$footer-bg: $color-black;
$footer-text: $color-white;

// Header
$header-bg: $color-white;
$header-text: $color-black;
$header-button-bg: $color-black;
$header-button-text: $color-white;

//Policy-and-rules
$font-main: 'Inter';
$text-color: $color-black;
$bg-color: $color-white;
$title-weight: 700;
$normal-weight: 400;
$line-height: 1.6;

//Events
$bg-color-block: #efefef;
$border-color: #ccc;
$text-color: $color-black;
$text-placeholder: #999;
$font-main: 'Inter';
