<header class="header">
  <section routerLink="/" class="header__brand" aria-label="Hand and Hand">
    <a class="brand__name">Hand&Hand</a>
    <div class="brand__icon" aria-hidden="true">
      <img src="/images/black-logo.png" alt="" loading="lazy" />
    </div>
  </section>
  <section class="header__buttons">
    <a routerLink="/events" class="header_a">Події</a>
    <a routerLink="/organizations" class="header_a">Організації</a>
    <a routerLink="/news" class="header_a">Новини</a>
    <a routerLink="/fundraising" class="header_a">Збори</a>
    <a routerLink="/about" class="header_a">Про нас</a>

    @if (isLoggedIn) {
      <button type="button" (click)="goToProfile()" class="header__profile">
        <img src="/images/icon-profile.png" alt="" class="header_profile_icon">
        <span class="header_profile">Профіль</span>
      </button>
    } @else {
      <a routerLink="/login" class="header__profile">
        <img src="/images/icon-profile.png" alt="" class="header_profile_icon">
        <span class="header_profile">Профіль</span>
      </a>
    }
  </section>
</header>
