<section class="forgot">
  <div class="forgot__container">

    <div class="forgot__title-wrapper">
      <h1 class="forgot__title">Відновлення пароля</h1>
    </div>

    @if (!isSuccess) {
      <p class="forgot__description">
        Ми надішлемо посилання для відновлення на вашу адресу.
      </p>

      @if (error) {
        <p class="forgot__error">{{ error }}</p>
      }

      <form class="forgot__form" (ngSubmit)="onSubmit()">
        <div class="forgot__field">
          <div class="forgot__field-inner" [class.forgot__field-inner--error]="error">
            <span class="forgot__label">Пошта:</span>
            <input class="forgot__input" type="email" placeholder="example@gmail.com"
                   [(ngModel)]="email" name="email" required />
          </div>
        </div>

        <button type="submit" class="forgot__button" [disabled]="loading">
          {{ loading ? 'Завантаження...' : 'Надіслати' }}
        </button>
      </form>

      <div class="forgot__links">
        <a routerLink="/login">На сторінку входу</a>
      </div>

    } @else {
      <div class="forgot__success-view">

        <p class="forgot__text">
          Ми надіслали посилання для відновлення на адресу <strong>{{ email }}</strong>.
        </p>

        <p class="forgot__subtext">
          Якщо ви не отримали листа, перевірте папку зі спамом або <a routerLink="/register">зареєструйтеся</a>.
        </p>

        <div class="forgot__action-links">
          <button (click)="retry()" class="forgot__action-btn forgot__action-btn--secondary">Надіслати ще раз</button>
          <a routerLink="/login" class="forgot__action-btn">На сторінку входу</a>
        </div>
      </div>
    }

  </div>
</section>
