<section class="list__component">
  <div class="list__component__header">
    <h2 class="list__component__title">Волонтерські події</h2>
  </div>

  <div class="list__component__grid">
    @for (item of itemsFun; track item.id) {
      <article class="events__card">
        <div class="events__card__image">
          @if (item.image_url) {
            <img [src]="item.image_url" alt="event image">
          }
        </div>

        <div class="events__card__body">
          <div class="events__card__content">
            <h3 class="events__card__title">{{ item.title }}</h3>

            <div class="events__card__info-item">
              <span class="events__card__icon material-symbols-outlined">calendar_month</span>
              <span class="events__card__date">
                @if (item.starts_at) {
                  {{ item.starts_at | date:'dd.MM.yyyy' }}
                  @if (item.ends_at && !isSameDay(item)) {
                    — {{ item.ends_at | date:'dd.MM.yyyy' }}
                  }
                }
              </span>
            </div>

            <div class="events__card__info-item">
              <span class="events__card__icon material-symbols-outlined">location_on</span>
              <span>{{ item.tasks[0]?.location?.city }}, {{ item.tasks[0]?.location?.address }}</span>
            </div>

            <div class="events__card__info-item">
              <span class="events__card__org-name">
                {{ item.organization_profile?.name}}
              </span>
            </div>
          </div>
        </div>
      </article>
    } @empty {
      <p class="list__empty-message">Подій не знайдено.</p>
    }
  </div>
</section>
