<main class="fundraising__campaigns">
  <div class="fundraising__campaigns__wrapper">

    <aside class="fundraising__campaigns__sidebar">
      <app-filters
        [config]="filterConfig"
        (filtersChanged)="onFiltersChanged($event)"
      />
    </aside>

    <div class="fundraising__campaigns__main">
      @if (loading) {
        <p>Завантаження...</p>
      }
      @if (error) {
        <p>Помилка завантаження. Спробуйте пізніше.</p>
      }
      @if (!loading && !error) {
        @if (campaignsList.length === 0) {
          <p>Збори не знайдено.</p>
        } @else {
          <app-list-fundraising-campaigns
            [fundraisingCampaignItem]="campaignsList"
            [totalPages]="totalPages"
            [currentPage]="currentPage"
            (pageChanged)="onPageChanged($event)">
          </app-list-fundraising-campaigns>
        }
      }
    </div>

  </div>
</main>
